*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* =========================Starting Point =============================== */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 80px;
    font-weight: bold;
    background: white;
    color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* margin-bottom: 80px; */
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 0 0px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }.bts{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(6, 6, 54);
}


.cart{
    position: relative;
}

.countcontainer{
    padding: 6px;
    /* height: 50px;
    width: 50px; */
    border-radius: 70%;
    text-align: center;
    background-color: green;
    position: absolute;
    top : -25px;
    left: 10px;
}

.cart a{
color: black;
text-decoration: none;
}
/* /* ==========end=========== */



.productflex{
    display: flex;
    margin-top: 100px;
   /* flex-wrap: wrap; */
}


.imcontainer{
    border: 1px solid black;
    padding: 10px;
    width: 1000px;
    margin-left: 30px;
}

.imgflex{
    display: flex;
    margin-top: 20px;
}

.cl, .sz{
    display: flex;
}

.clvalue, .szvalue{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 5px;
}

.qtycontainer{
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}
.minus, .plus{

border: 1px solid black;
background-color: white;
width: 20px;
height: 20px;
border-radius: 70%;
}
.minus{
    margin-right: 5px;
    cursor: pointer;
}
.plus{
    margin-left: 5px;
    cursor: pointer;
}
.qtycontainer input{
    width: 30px;
    height: 20px;
    text-align: center;
}
.imgdetails{
    /* border: 1px solid black; */
    width: 470px;
    margin-left: 30px;
}


.imgdetails > h2{
  margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: gold;
    font-weight: bold;
    font-size: 28px;
}

.imgdetails p{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.remove{
    margin-top: 14px;
}
.remove > a{
    border: none;
    background-color: red;
    text-align: center;
    padding: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
    cursor: pointer;

}

.imgcontainer{
    width: 230px;
    height: 230px;
    margin-top: 20px;
}
.imgcontainer img{
    width: 100%;
    height: 100%;
}

.qdetails{
    margin-left: 35px;
    margin-top: 25px;
}
.summarycontainer{
  border: 1px solid black;
  margin-left: 20px;
 padding: 10px;
}

.header{
  text-transform: capitalize;
  color: gold;
  margin-bottom: 30px
}

.pr{
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}
.gpr{
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}
.gpr >h4{
  margin-right: 5px;
}
.summarycontainer button{
  margin-top: 10px;
  border: none;
  background-color: green;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}


.incrementflex{
    display: flex;
    align-items: center;
margin-bottom: 10px;
margin-top: 20px;
}

.plus, .minus{
    border-radius: 50%;
    padding: 15px;
    background-color: gray;
}
.minus{
margin-left: 20px;
margin-right: 20px;
}


@media(max-width: 500px){
.productflex{
    /* display: flex; */
    flex-wrap: wrap;
}
.summarycontainer{
    width: 100%;
    margin-top: 40px;
}
}