*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerflex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}


.imagewrap{
    text-align: center;
width: 350px;
height: 351px;  
background-color: gray;
margin-right: 10px;
margin-bottom: 40px;
}

.imgcontainer{
  width: 310px;
  height: 351px;
  margin: 0 auto;
}
.imgcontainer img{
   width: 100%;
   height: 100%; 
}

.detailscontainer{
    /* border: 1px solid black; */
    padding: 10px;
}

.contentcontainer{
    background: rgba(214, 165, 165, 0.64);
    padding: 10px;
   
    width: 766px;
}
.contentcontainer p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;

}
.rw{
    margin-top: 20px;
    margin-bottom: 2px;
}

.price, .quantity{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.price h2, .quantity h2 {
    text-transform: capitalize;
}

.price .title, .quantity .title{
    margin-right: 10px;
}

.incrementflex{
    display: flex;
    align-items: center;
margin-bottom: 10px;
margin-top: 20px;
}

.plus, .minus{
    border-radius: 50%;
    padding: 15px;
    background-color: gray;
}
.minus{
margin-left: 20px;
margin-right: 20px;
}
.categoryimgflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.watchimgcontainer{
    margin: 10px 0;
    width: 100px;
    height:  100px
}

.watchimgcontainer img{
    width: 100%;
    height: 100%;
}

.cartflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartflex button{
    border: none;
    padding: 15px;
    background-color: gray;
    text-transform: capitalize;
    font-weight: bold;
}
