*{
    
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    outline: none;
    scroll-behavior: smooth;
}
body{

    font-size: 14px;

}
.logo{
    margin:15px;
    height: 50px;
    display: flex;
    width: 100px;
}

.logo img{
  width: 100%;
  height: 100%;
}
h2{
    line-height:1.5;
}
nav{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0px 20px;
}
.logoflex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menucontainer{
  display: flex;
  align-items: center;
  margin-left: 20px;
  /* justify-content: space-around; */
  transition: all 0.5s ease;
}
.active, .menuitem{
  margin-right: 10px;
}
.cart{
  margin-right: 10px;
}
.menu{
  display: none;
  color: rgb(189, 24, 134);
}

.active a, .menuitem a{
font-size: 18px;
color: rgb(189, 24, 134);
text-transform: capitalize;
}

a{
  text-decoration: none;
  color: black;
}






/* .dspclass{
  display: flex;
  al
} */

/* nav{
  background:whitesmoke;
}

.nav{
 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    width:100%;
    height: 60px;
    
    position:fixed;
    top: 0;
    z-index: 100;
    box-shadow:transparent;
    text-transform:capitalize;
}
.nav a{
  text-decoration: none;
  font-size: 18px;
}
.nav a:hover{
  color:palevioletred;
  background-color:rgb(185, 54, 185);
}
.btn-menu{
    border:none;
    cursor: pointer;
    background:transparent;
    padding:0.5rem;
    color:rgb(8, 8, 8);
}
.btn-menu:hover{
    color:burlywood;
    background:blueviolet;
}
.menu{
  display: none;
} */
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    top: 82px;
    left: 0;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(209, 36, 169);
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
 .sidebar li{
      text-transform: capitalize;
      padding: 7px;
      color: rgb(189, 24, 134);
  }
  

/* ==============main section=============== */
.herocontainer{
display: flex;
align-items: center;
justify-content: center;
margin-top: 60px;
margin-bottom: 20px;
margin-left: 220px;
}
.heroimgcontainer{
 width: 100%;
 height: 200px;
}
.heroimgcontainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* .parentcontainer{
  background-color: gray;
  padding: 20px;

} */
.column{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
margin-left: 150px;
}
.prntcontainer{
  background-color:gray;
  padding-bottom: 20px;
  /* width: 250px; */
  width: 300px;
  margin-top: 20px;
  border-radius:10px;
}

.imgcontainer {
  width: 100%;
  height: 150px;

  }

   .imgcontainer img{
     width: 100%;
     height: 100%;
     border-radius: 10px;
     box-shadow: transparent;
   }
   
  
  
   .content{
     margin-top: 10px;
     text-align: center;
   }
.content h4{
  word-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.price{
  margin-top: 5px;
  text-transform: capitalize;
}
.content button{
  margin-top: 10px;
  border: none;
  background-color: rgb(179, 124, 160);
  padding: 15px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.content button i{
  margin-left: 5px;
}

.prntcontainerx{
  background-color:gray;
  padding-bottom: 20px;
  /* width: 250px; */
  width: 350px;
  margin-top: 20px;
}

.imgcontainerx {
  width: 100%;
  height: 250px;
  }
   .imgcontainerx img{
     width: 100%;
     height: 100%;
   }
   

   .contentx{
     margin-top: 10px;
     text-align: center;
   }
.contentx h4{
  word-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.pricex{
  margin-top: 5px;
  text-transform: capitalize;
}
.contentx button{
  margin-top: 10px;
  border: none;
  background-color: rgb(179, 124, 160);
  padding: 15px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.contentx button i{
  margin-left: 5px;
}
/* ============end main section================= */

.categories{
margin-top: 90px;
margin-bottom:20px;
margin-left: 250px;
}
.categoriesflex{
  display: flex;
  align-items: center;
}
.categoriesflex h2{
margin-right: 20px;
text-transform: uppercase;
color:plum ;
}
.stripped{
padding: 2px;
border-bottom: 1px solid black;
width: 80%;
}

@media(max-width: 965px){
  /* .nav a{
    display: none;
  }
   .nav button{
     display: none;
   }
    .div fas{
      display: none;
    }
  .menu {
    display: block;
    color: purple;
    font-size: 24px;
    cursor: pointer;
  } */
.sidebar{
 display: none;
}

.herocontainer{
  margin-left: 0px;
}
.categories{
  margin-left: 10px;
  margin-right: 15px;
}
.column{
  margin-left: 0px;
  } 
 }

@media(max-width: 570px){
.menucontainer{
  display: none;
}
.menu{
  display: flex;
  /* padding-left: 20px; */
  font-size: 28px;
}
.nav{
  display: block;
}
.logoflex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

}

 @media(max-width: 353px){

  .prntcontainer{
    background-color:gray;
    padding-bottom: 20px;
    width: 150px;
    margin-top: 20px;
  }
  
  .imgcontainer {
    width: 100%;
    height: 200px;
    }

     .imgcontainer img{
       border-radius: 10px;
       width: 100%;
       height: 100%;
     }


 }




 /* footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background:  purple;
  height:20px;
}
footer .content{
  max-width: 13px;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color:purple;
}
footer .content .box{
  width: 45px;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 15px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background:rgb(209, 36, 169);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 32px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #6b0a46;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #d662c5;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:white;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 35px;
  width: 435px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #dbb4cd;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color:purple;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color:white;
}
@media (max-width:365px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:750px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
    height: 100%;
  }
  footer .content .middle{
    padding-left: 0;
  }
}/*
 */
