*{
    
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    outline: none;
    scroll-behavior: smooth;
}
body{

    font-size: 14px;

}
.logo{
    margin:15px;
    height: 50px;
    display: flex;
    width: 100px;
}

.logo img{
  width: 100%;
  height: 100%;
}
h2{
    line-height:1.5;
}
nav{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0px 20px;
}
.logoflex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menucontainer{
  display: flex;
  align-items: center;
  margin-left: 20px;
  /* justify-content: space-around; */
  transition: all 0.5s ease;
}
.active, .menuitem{
  margin-right: 10px;
}
.cart{
  margin-right: 10px;
}
.menu{
  display: none;
  color: rgb(189, 24, 134);
}

.active a, .menuitem a{
font-size: 18px;
color: rgb(189, 24, 134);
text-transform: capitalize;
}

a{
  text-decoration: none;
  color: black;
}

.herocontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 220px;
  }
  .heroimgcontainer{
   width: 100%;
   height: 200px;
  }
  .heroimgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
/* CART PAGE*/
  

.products_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 220px;
  }

.products {
  width: 45%;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}
.fa-xmark {
font-size: 20px;
color: blue;
margin-left: 2px;
margin-right: 2px;
cursor: pointer;

}

.price {
  width: 25%;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  align-items: center;
  
}

.quantity {
  width: 35%;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  align-items: center;
}
.quantity .fa-plus {
  font-size: 10px;
color: blue;
margin-left: 10px;
margin-right: 10px;
cursor: pointer;
}
.fa-minus {
  font-size: 10px;
color: blue;
margin-left: 10px;
margin-right: 10px;
cursor: pointer;
}
.total {
    width: 20%;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    align-items: center;
    
}

.products img {
    width: 100px;
}
.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.cartTotalTitle {
    width: 25%;
}

.cartTotal {
    width: 8%;
}
.btn-checkout {
  display: none;
  cursor: pointer;
}
.checkout_btn_show {
  display: block;
}
